<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="scit.webproject.app.dao.EmployeesMapper">
  <insert id="insertEmployees" parameterType="Employees">
  	insert into employee
  	(
  		emp_id,
   		emp_pwd,
   		emp_name,
   		emp_address,
   		emp_phone,
   		emp_bankcode,
   		emp_accountnum,
   		emp_position,
   		emp_salary
   		
  	)
  	values
  	(
  		#{emp_id},
   		#{emp_pwd},
   		#{emp_name},
   		#{emp_address},
   		#{emp_phone},
   		#{emp_bankcode},
   		#{emp_accountnum},
   		#{emp_position},
   		#{emp_salary}
  	)
  </insert>
  
  <select id="login" parameterType="Employees" resultType="Employees">
  	select
  		emp_id,
   		emp_pwd,
   		emp_name,
   		emp_address,
   		emp_phone,
   		emp_bankcode,
   		emp_accountnum,
   		emp_position,
   		emp_salary,
   		emp_join,
   		emp_leave
   	from
   		employee
   	where
   		emp_id=#{emp_id}
   		and
   		emp_pwd=#{emp_pwd}
  </select>
  
  </mapper>