<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="scit.webproject.app.dao.MenuMapper">

<insert id="insertMenu" parameterType="Menu">
 	
 	insert into menu
 	(
 	menu_id
    ,menu_name
    ,menu_price
    ,menu_ingredients
    ,menu_regdate
    ,menu_updatedate
   
	)
	values(
	menuseq.nextval
	,#{menu_name}
	,#{menu_price}
	,#{menu_ingredients}
	,sysdate
	,sysdate
	)
</insert> 

<select id="selectAllMenu" resultType="Menu">
select 
	menu_id
    ,menu_name
    ,menu_price
    ,menu_ingredients
    ,menu_regdate
    ,menu_updatedate
from
	menu
order by menu_id asc
</select>



</mapper>